<?xml version="1.0" encoding="UTF-8"?>

<beans 
	xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd 
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
        
    <!-- Bean Definitions -->
	<context:annotation-config />
	<context:component-scan base-package="com.sungardas.esb.model"></context:component-scan>   

	<bean id="customer" class="com.sungardas.ebs.Customer"/>
	
	<bean id="product" class="com.sungardas.ebs.Product"/>
	
	<bean id="customerContact" class="com.sungardas.ebs.CustomerContact"/>

	<bean id="sgasContact" class="com.sungardas.ebs.SgasContact"/>

	<bean id="billingAccount" class="com.sungardas.ebs.BillingAccount"/>
	
	<bean id="order" class="com.sungardas.ebs.Order"/>

	<bean id="usage" class="com.sungardas.ebs.Usage"/>>
	
	<bean id="address" class="com.sungardas.ebs.Address"/>
	
	<bean id="canonical" class="com.sungardas.esb.CanonicalWrapper">
		<property name="customer" ref="customer"></property>
		<property name="product" ref="product"></property>
		<property name="customerContact" ref="customerContact"></property>
		<property name="sgasContact" ref="sgasContact"></property>
		<property name="billingAccount" ref="billingAccount"></property>
		<property name="order" ref="order"></property>
		<property name="usage" ref="usage"></property>
		<property name="address" ref="address"></property>
	</bean>	
	
	<bean id="rosetta" class="com.sungardas.ebs.Rosetta"/>
	
	<bean id="objectStore" class="org.mule.util.store.SimpleMemoryObjectStore"/>
	
</beans>
